* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  position: fixed; /* 화면 상단에 고정 */
  z-index: 9999;
  top: 0; /* 최상단 */
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.header .logo {
  padding-bottom: 13px;
}

.header .logo img {
  width: 150px; /* 원하는 너비로 조절 */
  height: auto; /* 비율 유지 */
  display: block; /* inline img 기본 여백 제거 */
}

.left-group {
  display: flex;
  align-items: center;
  gap: 20px; /* 메뉴 버튼과 로고 간 간격을 조절 */
}

.header-icons {
  list-style: none;
  display: flex;
  gap: 25px;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

/* -------------------카테고리 메뉴 바------------------- */
/* 사이드 메뉴 기본 숨김 및 슬라이드 준비 */
.side-menu {
  position: fixed;
  top: 0;
  left: -310px; /* 메뉴가 화면 밖으로 숨겨짐 */
  width: 310px;
  height: 100vh;
  background-color: #f9f7f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 9998;
  overflow-y: auto;
}

/* 메뉴가 열린 상태 */
.side-menu.open {
  left: 0;
}

/* 메뉴 리스트 스타일 */
.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  margin-top: 80px;
}

.side-menu li {
  padding: 20px 0;
  font-weight: 700;
  font-size: larger;
  font-style: bold;
  cursor: pointer;
}

/* 햄버거 메뉴 버튼 (header.html에서 적절히 지정) */
.menu-btn {
  cursor: pointer;
}