* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* ----------------footer----------------- */
footer {
  background-color: #f5f1e9;
  padding: 40px 80px 50px;
  color: #343f14;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  user-select: none;
}

/* 상단 로고 + 네비 */
.footer-top {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
}

.footer-logo img {
  width: 140px;
  height: auto;
}

.footer-nav a {
  margin-right: 30px;
  color: #343f14;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color:  #3b7205;
  font-weight: 900;
}

.footer-h4 {
  color: #1f3200;
  font-size: 32px;
  font-family: Inter;
  font-weight: 600;
  line-height: 48px;
}

/* 본문 3컬럼 */
.footer-main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 240px;
}

/* CS CENTER 컬럼 */
.cs-center h4,
.company-info h4,
.bank-info h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
}

.cs-center .phone {
  font-weight: 700;
  font-size: 22px;
  color: #a4bc3e;
  margin-bottom: 20px;
}

/* 소셜 아이콘 */
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 18px;
}
.social-icons a img {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(26%) sepia(36%) saturate(434%)
    hue-rotate(76deg) brightness(89%) contrast(88%);
  transition: filter 0.3s ease;
}
.social-icons a:hover img {
  filter: brightness(0) saturate(100%) invert(53%) sepia(70%) saturate(502%)
    hue-rotate(93deg) brightness(99%) contrast(93%);
}

/* 회사정보 컬럼 */
.company-info p {
  margin-bottom: 12px;
  font-weight: 400;
  color: #343f14;
}

/* 은행정보 컬럼 */
.bank-info p {
  margin-bottom: 12px;
  font-weight: 400;
  color: #343f14;
}