* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
body {
    margin: 0;
    padding: 0;
    background: #f3eee2;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 40px;
    margin: 80px 0px 100px;
}
.login-box, .benefit-box {
    width: 600px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
.benefit-box{
    margin-bottom: 20px;
}
.benefit-item-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.benefit-item-box p {
    font-size: 20px;
}
h2 {
    font-size: 40px;
    margin-bottom: 120px;
    text-align: center;
    font-weight: 500;
}
label {
    display: flex;
    margin: 20px 10px 0px;
    font-size: 16px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #b2d235;
    background-color: transparent;
    font-size: 15px;
}

.find-links {
    font-size: 12px;
    text-align: right;
    margin-top: 7px;
    margin-bottom: 70px;
}
.btn-login {
    width: 100%;
    height: 70px;
    border: 1px solid #d3e97a;
    background-color: #cbe369;
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.btn-signup {
    width: 100%;
    height: 70px;
    border: 1px solid #d3e97a;
    background-color: transparent;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
.benefit-title {
    font-size: 30px;
    padding-bottom: 5px;
    margin: 0px 7px 7px;
}
#forCustomer {
    font-size: small;
    margin-left: 7px;
}
hr {
    border:1px solid #b2d235;
    margin-bottom: 80px;
}
.benefit-item {
    display:flex;
    align-items: center;
    text-align: center;

    flex: 1;
    flex-direction: column;
}
.benefit-item img {
    width: 90px;
    height: auto;
}
.benefit-item-img {
    height: 100px;
}
.benefit-item span{
    margin-top: 10px;
    font-size: 13px;
}
.sns-login button {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #d3e97a;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}
.sns-login img {
    width: 20px;
    height: 20px;
}